.login {
  width: 100vw;
  height: 985px;
  margin: 0 auto;
}
.login .box-login {
  width: 656px;
  height: 772px;
  background-color: white;
  position: relative;
  top: 64px;
  left: 612px;
}
.content {
  margin-left: 80px;
  position: relative;
  top: 89px;
}
.content-login{
    display: flex;
    flex-direction: column;
    width: 300px ;
    gap: 30px;
}
.header-login {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.btn-signup {
  width: 300px;
}
