.payment {
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
  height: 500px;
  background-color: white;
  margin-top: 100px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
  margin-bottom: 80px;
}
.payment Button {
  width: 800px;
  height: 80px;
  margin-top: 50px;
  display: flex;
  font-size: 22px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: black;
}
.payment h1 {
  text-align: center;
  font-size: 28px;
  line-height: 1.4;
  font-weight: 500;
}

.payment-seat {
  font-size: 24px;
  font-weight: 500;
}
.payment-ticket {
  width: 100%;
  background: #118eea;
  height: 150px;
  margin-bottom: 20px;
  padding: 20px 20px;
  color: white;
}
.payment-total {
  font-size: 24px;
  font-weight: 500;
}
