.payment{
    max-width: 800px;
    margin: 0 auto;
    height: 400px;
    background-color: white;
    margin-top: 100px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-top: 10px;
    margin-bottom: 50px;
}
.payment Button {
    width: 800px;
    height: 80px;
    margin-top: 50px;
    display: flex;
    font-size: 22px;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color: black;
}
.payment h1 {
    text-align: center;
    font-size: 22px;
    line-height: 1.4;
    font-weight: 500;
}